:host {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background: linear-gradient(244deg, #72ACC6 7.32%, #719EB8 39.69%, #34546E 64.56%);

}


.frame-out {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;
    
    border-radius: 40px;

    width: 1700px;
    height: 900px;

    .wall {
        position: absolute;
        z-index: -1;
        border-radius: 40px;

        width: 100%;
        height: 100%;
        background: url('/assets/background-admin.jpg');

        align-items: center;
        display: flex;
        justify-content: flex-end;
        border: 1px solid #234159;

        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        border-radius: 40px;
        border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

        .back {
            width: 99%;
            height: 99%;
            border-radius: 40px;
            background: url('/assets/background-admin.jpg');
            -webkit-filter: blur(5px);
            filter: blur(5px);

            box-sizing: border-box;
        }
    }
}

.frame-in {
    display: flex;

    width: 80%;
    height: 70%;
    border-radius: 40px;
    background: #FFFFFF;
    border: 2px solid #234159;

    .top {
        width: 100%;
        height: 10%;

        display: flex;

        span {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex: 49%;

            margin-top: 50px;
            margin-left: 50px;


            color: #212529;

            font-family: Nunito Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-transform: capitalize;
        }

        .top-right {
            flex: 49%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            button {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-right: 60px;
                background: none;
                border: none;
            }

            button .img {
                max-width: 35px;
                max-height: 35px;
            }
        }
    }
}

.admin-menu {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}