<div class="frame-out">
    <div class="wall">
        <div class="back"></div>
    </div>
    <div class="admin-menu">
        <navbar-admin></navbar-admin>
    </div>

    <div class="section">
        <search-bar></search-bar>
        <div class="frame-in">
            <div class="top">
                <span>Consulta Moradores</span>
                <div class="top-right">
                    <button>
                        <img src="../../../assets/icons/create.svg" alt="">
                    </button>
                    <button>
                        <img src="../../../assets/icons/print.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>