<div class="section">
    <div class="profile-admin">
        <img src="/assets/profile-admin.jpg" alt="">
        <span class="admin">Admin</span>
        <span class="name-admin">Guthox Pedrox</span>
    </div>
    <div class="menu-admin">
        <ul>
            <li>
                <div>
                    <a href="">Avisos</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">Advertências</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">Cadastrar</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">Mensagens</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">Pesquisar</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">Reservas</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">Relatórios</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">Serviços</a>
                </div>
            </li>
            <li>
                <div style="padding-top: 10px; padding-bottom: 20px;">
                    <a href="">Sair</a>
                </div>
            </li>
        </ul>
    </div>
</div>